data/orari.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"

	elementFormDefault="qualified" >
	
	<xsd:element name="orari" type="typeOrari"/>
		
	<xsd:complexType name="typeOrari">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="giorno" type="typeGiorno"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="typeGiorno">
		<xsd:sequence minOccurs="1" maxOccurs="1">
			<xsd:element name="ora" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="required"/>			
	</xsd:complexType>

</xsd:schema>
<!-- Last Update by Luca 25/07/2016 -->
